@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #4facfe, #00f2fe); */
    color: #ffffff;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.breed-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.breed-list li {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    text-transform: capitalize;
}

.breed-list li:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

.breed-details {
    margin-top: 20px;
}

.breed-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #ffffff;
}

.navigation-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}
